<div class="container">
	<%= form_for @listing, html: {multipart: true} do |f| %>
	  <div class="form-group">
	  	<%= f.label :name %>
	  	<%= f.text_field :name, class: 'form-control'%>
	  </div>
	  <div class="form-group">
	  	<%= f.label :address %>
	  	<%= f.text_field :address, class: 'form-control' %>
	  </div>
	  <div class="form-group">
	  	<%= f.label :city %>
	  	<%= f.text_field :city, class: 'form-control' %>
	  </div>
	  <div class="form-group">
	  	<%= f.label :price %>
	  	<%= f.text_field :price, class: 'form-control' %>
	  </div>
	  <div class="form-group">
		  <%= f.label "Property Description" %>
		  <%= f.text_area :prop_desc, class: 'form-control' %>
	  </div>
	  <div class="form-group">
		  <%= f.label "Property Information" %>
		  <%= f.text_area :prop_info, class: 'form-control', cols: 3 %>
	  </div>
	  <div class="form-group">
	  	<%= f.label "Upload images of your property" %>
	  	<%= file_field_tag "images[]", type: :file, multiple: true %>
	  </div>
	  <%= f.submit %>
	<% end %>
</div>