<% if @listings.empty? %>
	<p>No listings have been posted yet</p>
	<%= link_to "Add a listing", new_listing_path %>
<% else %>
	<% @listings.each do |listing| %>
		<h3><%= listing.name %></h3>
		<%= listing.address %>
		<%= listing.city %>
		<%= listing.price %>
		<%= link_to "Edit", edit_listing_path(listing.id) %>
		<%= link_to "Delete", listing_path(listing.id), :method => "delete"   %>
	<% end %>
	<%= link_to "Add a listing", new_listing_path %>
<% end %>