<div class="user_links">
	<% if user_signed_in? %>
		<%= link_to "Sign out", destroy_user_session_path, method: :delete %>
	<% else %>
		<%= link_to "Sign in", new_user_session_path %>
		<%= link_to "Sign up", new_user_registration_path %>
	<% end %>
</div>


<div class="add_listing">
	<%= link_to "Add a listing", new_listing_path %>
</div>

<% if @listings.empty? %>
	<p>No listings have been posted yet</p>
<% else %>
	<% @listings.each do |listing| %>
		<div class="listings">
			<h3><%= listing.name %></h3>
			<%= listing.address %>
			<%= listing.city %>
			<%= listing.price %>
			<% if current_user && (listing.user_id == current_user.id) %>
				<%= link_to "Edit", edit_listing_path(listing.id) %>
				<%= link_to "Delete", listing_path(listing.id), :method => "delete" %>
			<% end %>
		</div>
	<% end %>
<% end %>