<section id="mini-product-search">

  <div class="container">
    <div class="row">

      <div class="product-list-search sidebar-offcanvas">
        <%= form_tag(listings_path, :method => "get", class: "form-search") do %>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="product-list-search-inner clearfix">
            
              <div class="form-group col-md-5 col-sm-6">
                <label for="">Search Property</label>               
                <div class="input-group">
                  <div class="input-group-btn">
                    
                  </div><!-- /btn-group -->
                  <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search Property Name" %>
                </div><!-- /input-group -->
              </div>

              <div class="form-group col-md-1 col-sm-3">
                <label for="">Min Price</label>
                <%= select_tag :min_price, options_for_select([['$100', 100],['$200', 200], ['$300', 300], ['$400', 400], ['$500', 500]]) %>
              </div>

              <div class="form-group col-md-1 col-sm-3">
                <label for="">Max Price</label>
                <%= select_tag :max_price, options_for_select([['$1000', 1000],['$5000', 5000],['$10000', 10000],['$100000', 100000],['$1000000', 1000000]])%>
              </div>

              <div class="form-group col-md-2 col-sm-3">
                <label for="">City</label>
                <%= select_tag :city, options_for_select([['Douala', 'Douala'],['Yaounde', 'Yaounde'],['Garoua', 'Garoua'],['Kousseri', 'Kousseri'],['Bamenda', 'Bamenda']])%>
              </div>

              <div class="form-group form-action col-md-2 col-sm-6">
                <button type="submit" class="btn-search btn btn-flat-alizarin">Search</button>
              </div>
            </div>

          </div>
        <% end %>
      </div>


    </div>
  </div>

</section>