<!DOCTYPE html>
<html>
<head>
  <title>Accommodation</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <!-- <link rel="stylesheet" media="all" href="/assets/custom.self-50ef3c8ff73b955c856759cc8bf352b17e16fb7bb3706ad08dad629370545315.css?body=1" data-turbolinks-track="true" /> -->
  <link rel="stylesheet" media="all" href="/assets/custom.css" data-turbolinks-track="true" />
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <!-- <link rel="stylesheet" type="text/css" href="css/font-awesome/css/font-awesome.min.css" media="screen"> -->
  <%= csrf_meta_tags %>
</head>
<body>

<% flash.each do |key, value| %>
  <div class="pop">
    <%= value %>
  </div>
<% end %>

<%= render 'shared/navbar' %>
<%= render  "remote_content/remote_sign_up" %>
<%= render  "remote_content/remote_sign_in" %>
<%= render  "remote_content/remote_recover_password" %>

<%= yield %>

<script type="text/javascript">
  $(document).ajaxError(function (e, xhr, settings) {
          if (xhr.status == 401) {
             $('.error').html(xhr.responseText);
          }
  });
</script>

</body>
</html>