<!DOCTYPE html>
<html>
<head>
  <title>Accommodation</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" type="text/css" href="css/font-awesome/css/font-awesome.min.css" media="screen">
  <%= csrf_meta_tags %>
</head>
<body>

<% flash.each do |key, value| %>
  <div class="pop">
    <%= value %>
  </div>
<% end %>

<%= render 'shared/navbar' %>
<%= render  "remote_content/remote_sign_up" %>
<%= render  "remote_content/remote_sign_in" %>
<%= render  "remote_content/remote_recover_password" %>

<%= yield %>


</body>
</html>